.modal_opened {
  visibility: visible !important;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: fixed;
  background-color: white;
  padding: 36px 28px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  font-family: Arial, sans-serif;
  width: 496px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  border-width: 1px;
  visibility: hidden;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  cursor: pointer;
  color: black;
}

.modal__form-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.modal input[type="text"],
.modal input[type="url"],
.modal input[type="email"],
.modal input[type="password"] {
  width: 100%;
  margin-bottom: 15px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border: 1px solid#000000;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 4px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: black;
  padding-left: 8px;
}

.modal input[type="text"]:focus,
.modal input[type="url"]:focus {
  padding-left: 8px;
}

.modal__submit-button {
  margin-top: 32px;
  background-color: #3b673b;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  cursor: pointer;
}

.modal__second-button {
  margin-top: 3px;
  background-color: transparent;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  width: 30%;
  cursor: pointer;
}

.modal__submit-button:hover {
  background-color: #a1bd60;
}

.modal__second-button:hover {
 color: grey;
}

@media (max-width:768px){
  .modal{
    width: 300px;
  }
}