form{
    max-height:60vh;
    overflow-y: scroll;
}

h2{
    text-align: center;
    
}

.modal__plan-save-button{
    width: 100% !important;
}

.modal__meal-plans{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}


@media (max-width:1220px){
    .modal__meal-plans{
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width:768px) {
    .modal__meal-plans{
        grid-template-columns: repeat(1, auto);
    }
}