.section{
    display: flex;
    flex-direction: column;
    padding: 32px 200px;
}

.section__title{
    text-align: center;
    font-size: 42px;
}

.section__subtitle{
    padding: 0 200px;
    text-align: center;
}

.section__points{
    list-style-type:none;
    font-size: 22px;
    padding-top: 20px;
   margin: 0 auto;
}

.section__contact{
    padding-top: 30px;
}

.section__contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    height: 40px;
    padding-left: 10px;
    border-radius: 8px;
    border: 0.5px solid black;
}

label{
    font-weight: 700;
}

input::placeholder{
    font-size: 16px;
    font-weight: 700;
}

.section__suggestion-button {
    padding: 14px;
    width: 30%;
    font-size: 16px;
    background-color: #3b673b;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .section__suggestion-button:hover {
    background-color: #a1bd60;
  }



@media (max-width: 1220px) {
    
    .section{
        padding: 12px 30px;
    }
    .section__title{
        font-size: 38px;
    }

    .section__subtitle{
        padding:0 20px;
        font-size: 24px;
    }

    .section__points{
        padding: 0 20px;
        line-height: 140%;
    }

    .section__suggestion-button{
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }
    
}