.card{
    width: 320px;
    border: 4px solid #3b673b;
    border-radius: 20px;
    padding: 16px;
    margin: 0 auto;
}

.card__title{
    display: flex;
    gap: 20px;
    align-items: center;
}

.card__title_text{
    font-size: 32px;
}

.card__title_icon{
    width: 60px;
}

.card__info{
 font-size: 24px;
 margin-bottom: 30px;
}

.card__button{
    position: relative;

    left: 35%;
    padding: 20px;
    font-size: 18px;
    background-color: #3b673b;
    color: white;
    border: none;
    border-radius: 20px;
    transition: ease-in-out 0.1s;
    font-weight: bold;
}